<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="sqlConnectionLocation" value="server=10.193.217.38,1433;uid=sa;Password=SanWei2209;database=DB_Family_Library"/>
    <add key="defaultLoginPath" value="C:\ProgramData\Autodesk\Revit\Addins\2016\SepdBuliding"/>
    <add key="defaultTempPath" value="C:\RFA_TMP\"/>
    <add key="defaultTempPath2" value="C:\ProgramData\Autodesk\Revit\Addins\2016\SepdBuliding\parameter_excel\parameter_perview"/>
    <add key="DownloadPath" value="D:\TEMP2"/>
  </appSettings>

</configuration>


<!--

const string sqlConnectionLocation = "server=10.193.217.38,1433;uid=sa;Password=SanWei2209;database=DB_Family_Library";
const string defaultLoginPath = @"C:\ProgramData\Autodesk\Revit\Addins\2016\SepdBuliding";
const string defaultTempPath = @"C:\RFA_TMP\";
const string defaultTempPath2 = @"C:\ProgramData\Autodesk\Revit\Addins\2016\SepdBuliding\parameter_excel\parameter_perview";

-->